<?xml version="1.0" encoding="UTF-8" ?>
<beans>
    <bean id = "aservice" class = "com.minis.test.AServiceImpl">
        <property type="String" name="property1"  value="Hello World!"></property>
        <constructor-arg type="String" name="name"  value="abc"></constructor-arg>
        <constructor-arg type="int" name="level"  value="3"></constructor-arg>
    </bean>
</beans>
